<section class="section_contacts">
  <div class="container">
    <div class="wrap_list_map">
      <div class="container_list_contacts">
        <h2 class="visually-hidden">контакти</h2>
        <p class="contacts_title">mimiho</p>
        <p class="contacts_description">Ресторанно-готельний комплекс</p>
        <ul class="contacts_list list">
          <li class="contacts_item">
            <p class="text_item_contacts">Ресторан</p>
            <div class="container_tel_contacts">
              <a href="tel:0955559533" class="link_tel"
                ><svg class="cellphone_icon" width="16" height="32">
                  <use href="./images/icons/symbol-defs.svg#icon-phone"></use>
                </svg>
                095 555 95 33</a
              >
            </div>
          </li>
          <li class="contacts_item">
            <p class="text_item_contacts">Готель</p>
            <div class="container_telhot_contacts">
              <ul class="hotel_tel_contacts">
                <li>
                  <a href="tel:0668491089" class="link_tel"
                    ><svg class="cellphone_icon" width="16" height="32">
                      <use
                        href="./images/icons/symbol-defs.svg#icon-phone"
                      ></use>
                    </svg>
                    066 849 10 89</a
                  >
                </li>
                <li>
                  <a href="tel:0672758540" class="link_tel_2">067 275 85 40</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="contacts_item_adress">
            <div class="container_link_contacts">
              <a
                href="https://goo.gl/maps/DjwzkZGykW8fMdzcA"
                target="_blank"
                rel="noopener norefferer nofollow"
                class="link_adress"
                ><svg class="location_icon" width="16" height="32">
                  <use
                    href="./images/icons/symbol-defs.svg#icon-location-icon"
                  ></use>
                </svg>
                Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="container_map_contacts">
        <iframe
          class="map-width"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12602.724496589364!2d34.52154749556897!3d49.595941772407976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1671116034318!5m2!1sru!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
