<section class="section_contacts">
    <div class="container">
        <h2 class="visually-hidden">контакти</h2>
        <p class="contacts_title">mimiho</p>
        <p class="contacts_description">Ресторанно-готельний
        комплекс</p>
        <div class="wrap_list_map"> 
            <div class="container_list_contacts">
            <ul class="contacts_list list">
            <li class="contacts_item"><p class="text_item_contacts">Ресторан</p>
            <div class="container_tel_contacts">
            <a href="tel:0955559533" class="link_tel"><svg class="cellphone_icon" width="16" height="32">
            <use href="./images/icons/symbol-defs.svg#icon-phone"></use>
            </svg>095 555 95 33</a>
            </div>
            </li>
            <li class="contacts_item"><p class="text_item_contacts">Готель</p>
            <div class="container_telhot_contacts">
            <ul class="hotel_tel_contacts">
            <li><a href="tel:0668491089" class="link_tel"><svg class="cellphone_icon" width="16" height="32">
            <use href="./images/icons/symbol-defs.svg#icon-phone"></use>
            </svg>066 849 10 89</a></li>
            <li><a href="tel:0672758540" class="link_tel_2">067 275 85 40</a></li>
            </ul>
            </div>
            </li>
            <li class="contacts_item_adress">
            <div class="container_link_contacts">
            <a href="https://goo.gl/maps/DjwzkZGykW8fMdzcA" target="_blank" rel="noopener norefferer nofollow" class="link_adress"><svg class="location_icon" width="16" height="32">
            <use href="./images/icons/symbol-defs.svg#icon-location-icon"></use>
            </svg>Україна, м. Полтава,
            вул. Маршала Бірюзова, 15</a>
            </div>
            </li>
            </ul>
            </div>
            <div class="container_map_contacts">
            <a href="https://goo.gl/maps/DjwzkZGykW8fMdzcA" target="_blank" rel="noopener norefferer nofollow"><div class="img_map_contact"></div></a>
            </div>
        </div>   
    </div>
</section>