<section class="section hotel-reservation">
    <div class="container hotel-reservation-container">
        <div class="top-hotel-reservation">
            <div class="titles-container">
                <p class="primary-section-title">MIMIHO</p>
                <h2 class="hotel-reservation_title">Готель</h2>
            </div>
            
            <p class="hotel-reservation_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis enim velit
                mollit.</p>
        </div>
            <div class="hero-btn-container">
                <button class="hero-homepage__button" type="button">Забронювати номер</button>
                <button class="hero-homepage__button" type="button">Переглянути ціни</button>
            </div>
        
    </div>
</section>