<section>
  <div class="container">
    <h2 class="hotel-about__title">About hotel</h2>
    <p class="hotel-about__decription">Amet minim mollit non</p>
    <h3 class="hotel-about__subtitle">MIMIHO</h3>
    <ul class="hotel-about__list">
      <li>
        <picture>
          <source
            width="460"
            media="(min-width:1280px)"
            srcset="
              ./images/photo-desk/hotel-homepage-collage-01-1x.jpg 1x,
              ./images/photo-desk/hotel-homepage-collage-01-2x.jpg 2x
            " />
          <source
            width="400"
            media="(min-width:1024px)"
            srcset="
              ./images/photo-tab/modern-studio-apartment-tab-1x.jpg 1x,
              ./images/photo-tab/modern-studio-apartment-tab-2x.jpg 2x
            " />
          <source
            width="243"
            media="(min-width:414px)"
            srcset="
              ./images/photo-mob/modern-studio-apartment-mob-1x.jpg 1x,
              ./images/photo-mob/modern-studio-apartment-mob-2x.jpg 2x
            " />
          <img
            src="./images/photo-mob/modern-studio-apartment-mob-1x.jpg"
            alt="Кімната готелю"
        /></picture>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li>
        <picture>
          <source
            width="460"
            media="(min-width:1280px)"
            srcset="
              ./images/photo-desk/hotel-interior-desk-01-1x.jpg 1x,
              ./images/photo-desk/hotel-interior-desk-01-2x.jpg 2x
            " />
          <source
            width="400"
            media="(min-width:1024px)"
            srcset="
              ./images/photo-tab/hotel-interior-tab-01-1x.jpg 1x,
              ./images/photo-tab/hotel-interior-tab-01-2x.jpg 2x
            " />
          <source
            width="243"
            media="(min-width:414px)"
            srcset="
              ./images/photo-mob/hotel-interior-mob-01-1x.jpg 1x,
              ./images/photo-mob/hotel-interior-mob-01-2x.jpg 2x
            " />
          <img
            src="./images/photo-mob/hotel-interior-mob-01-1x.jpg"
            alt="Кімната готелю"
        /></picture>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div class="slider"></div>
  </div>
</section>
