<section class="section hotel-reservation">
  <div class="container hotel-reservation-container">
    <div class="top-hotel-reservation">
      <div class="titles-container">
        <p class="logo-mainpage">mimiho</p>
        <h2 class="hotel-reservation_title">Готель</h2>
      </div>

      <p class="hotel-reservation_text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="slider-position">
      <div class="tripple-slider">
        <div>
          <picture class="">
            <source media="(min-width:1280px)" srcset="
                            ./images/photo-desk/hotel-homepage-collage-02-1x.jpg 1x,
                            ./images/photo-desk/hotel-homepage-collage-02-2x.jpg 2x
                          " />
            <source media="(min-width:1024px)" srcset="
                ./images/photo-tab/hotel-homepage-collage-tab-04-1x.jpg 1x,
                ./images/photo-tab/hotel-homepage-collage-tab-04-2x.jpg 2x
              " />
            <source media="(min-width:414px)" srcset="
                ./images/photo-mob/hotel-homepage-collage-mob-03-1x.jpg 1x,
                ./images/photo-mob/hotel-homepage-collage-mob-03-2x.jpg  2x
              " />
            <img src="./images/photo-mob/hotel-homepage-collage-mob-03-1x.jpg" alt="Їжа" />
          </picture>
        </div>
        <div>
          <picture class="">
            <source media="(min-width:1280px)" srcset="
                ./images/photo-desk/hotel-homepage-collage-04-1x.jpg 1x,
                ./images/photo-desk/hotel-homepage-collage-04-2x.jpg 2x
              " />
            <source media="(min-width:1024px)" srcset="
                ./images/photo-tab/hotel-homepage-collage-tab-02-1x.jpg 1x,
                ./images/photo-tab/hotel-homepage-collage-tab-02-2x.jpg 2x
              " />
            <source media="(min-width:414px)" srcset="
                ./images/photo-tab/hotel-homepage-collage-tab-02-1x.jpg 1x,
                ./images/photo-tab/hotel-homepage-collage-tab-02-2x.jpg 2x
              " />
            <img src="./images/photo-tab/hotel-homepage-collage-tab-02-1x.jpg" alt="рецепція" />
          </picture>
        </div>
        <div>
          <picture class="">
            <source media="(min-width:1280px)" srcset="
                        ./images/photo-desk/hotel-homepage-collage-02-1x.jpg 1x,
                        ./images/photo-desk/hotel-homepage-collage-02-2x.jpg 2x
                      " />
            <source media="(min-width:1024px)" srcset="
                                    ./images/photo-tab/hotel-homepage-collage-tab-04-1x.jpg 1x,
                                    ./images/photo-tab/hotel-homepage-collage-tab-04-2x.jpg 2x
                                  " />
            <source media="(min-width:414px)" srcset="
                                    ./images/photo-mob/hotel-homepage-collage-mob-03-1x.jpg 1x,
                                    ./images/photo-mob/hotel-homepage-collage-mob-03-2x.jpg  2x
                                  " />
            <img src="./images/photo-mob/hotel-homepage-collage-mob-03-1x.jpg" alt="ліжко" />
          </picture>
        </div>
        <div>
          <picture class="">
            <source media="(min-width:1280px)" srcset="
                ./images/photo-desk/hotel-homepage-collage-03-1x.jpg 1x,
                ./images/photo-desk/hotel-homepage-collage-03-2x.jpg 2x
              " />
            <source media="(min-width:1024px)" srcset="
                ./images/photo-tab/hotel-homepage-collage-tab-03-1x.jpg 1x,
                ./images/photo-tab/hotel-homepage-collage-tab-03-2x.jpg 2x
              " />
            <source media="(min-width:414px)" srcset="
                ./images/photo-mob/hotel-homepage-collage-mob-02-1x.jpg 1x,
                ./images/photo-mob/hotel-homepage-collage-mob-02-2x.jpg 2x
              " />
            <img src="./images/photo-mob/hotel-homepage-collage-mob-02-1x.jpg" alt="яєшня" />
          </picture>
        </div>
        
      </div>
      <div class="hero-btn-container">
        <button class="hero-homepage__button js-open-modal" type="button" data-modal="2">
          Забронювати номер
        </button>
        <button class="hero-homepage__button" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
    
  </div>
</section>

