<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>
    <p class="about-restaurant__text">Amet minim mollit non</p>
    <h3 class="about-restaurant_title">MIMIHO</h3>
    <p class="about-restaurant__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="restaurant-pic">
      <li class="restaurant-pic__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
        <img
          src="./images/photo-mob/hotel-interior-mob-01-1x (3).jpg"
          alt="Інтер'єр ресторану"
        />
      </li>
      <li class="restaurant-pic__item">
        <picture>
          <source />
          <source />
          <source />
        </picture>
        <img
          <img
          src="/src/images/photo-mob/restaurant-interior-mob-02-1x (3).jpg"
          alt=""
        />
      </li>
    </ul>
    <p class="about-restaurant__text about-restaurant__text--color">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
