<section class="restaraunt-details">
  <div class="container">
    <div
      class="reastaraunt-details__position reastaraunt-details__position--mobile"
    >
      <p class="restoraunt-details__logo">
        <span class="restoraunt-details--span">MIMIHO</span>
      </p>
      <h2 class="restoraunt-details__title">Ресторан</h2>
      <p class="restoraunt-details__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="slider-position">
      <div class="tripple-slider">
        <div style="width: 270px">
          <img
            src="./images/photo-mob/restorant-homepage-collage-mob-01-1x.jpg"
            alt="Їжа"
          />
        </div>
        <div>
          <img
            src="./images/photo-desk/restorant-homepage-collage-02-1x.jpg"
            alt="Їжа"
          />
        </div>
        <div>
          <img
            src="./images/photo-desk/restorant-homepage-collage-03-1x.jpg"
            alt="Їжа"
          />
        </div>
        <div>
          <img
            src="./images/photo-mob/pexels-oruri-jacome-mob-1x.jpg"
            alt="Їжа"
          />
        </div>
      </div>
      <div class="button-position">
        <button class="hero-homepage__button" type="button">
          Забронювати столик
        </button>
        <button class="hero-homepage__button" type="button">
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
