<section class="about-restaurant">
  <div class="container">
    <div class="about-restaurant__wrap">
      <h2 class="visually-hidden">About our restaurant</h2>
      <p class="about-restaurant__pretitle">Amet minim mollit non</p>
      <h3 class="about-restaurant_title">MIMIHO</h3>
      <p class="about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
        srcset="
          /src/images/photo-desk/restaurant-interior-01-1x.jpg 1x,
          /src/images/photo-desk/restaurant-interior -01-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /src/images/photo-tab/restaurant-interior-01-tab-1x.jpg 1x,
          /src/images/photo-tab/restaurant-interior-01-tab-1x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          /src/images/photo-mob/restaurant-interior-mob-01-1x.jpg 1x,
          /src/images/photo-mob/restaurant-interior-mob-01-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        src="/src/images/photo-mob/restaurant-interior-mob-01-1x.jpg"
        alt="Інткр'єр ресторану"
        width="244"
        height="322"
      />
    </picture>

    <div class="about-restaurant__card">
      <picture>
        <source
          srcset="/src/images/photo-desk/restaurant-interior -02-1x.jpg 1x, /src/images/photo-desk/restaurant-interior -02-2x.jpg  2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/photo-tab/restaurant-interior-02-tab-1x.jpg 1x,
            /src/images/photo-tab/restaurant-interior-02-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/images/photo-mob/restaurant-interior-mob-02-1x.jpg 1x,
            /src/images/photo-mob/restaurant-interior-mob-02-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="/src/images/photo-mob/restaurant-interior-mob-02-1x.jpg"
          alt="Столи під лампами"
          width="200"
          height="278"
        />
      </picture>
      <p class="about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
