<section class="restaraunt-details">
  <div class="container">
    <div class="reastaraunt-details__position">
      <p class="restoraunt-details__logo">MIMIHO</p>
      <h2 class="restoraunt-details__title">Ресторан</h2>
      <p class="restoraunt-details__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="slider-position">
      <div class="slider"></div>
      <div class="button-position">
        <button class="hero-homepage__button" type="button">
          Забронювати столик
        </button>
        <button class="hero-homepage__button" type="button">
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
