<section class="about-restaurant">
  <div class="container">
    <h2 class="visually-hidden">About our restaurant</h2>
    <p class="about-restaurant__pretitle">Amet minim mollit non</p>
    <h3 class="about-restaurant_title">MIMIHO</h3>
    <ul class="about-restaurant__list">
      <li class="about-restaurant__item">
        <p class="about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="about-restaurant_top-card">
          <source
            width="460"
            srcset="
              /src/images/photo-desk/restaurant-interior-01-1x.jpg 1x,
              /src/images/photo-desk/restaurant-interior-01-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            width="400"
            srcset="
              /src/images/photo-tab/restaurant-interior-01-tab-1x.jpg 1x,
              /src/images/photo-tab/restaurant-interior-01-tab-1x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/photo-mob/restaurant-interior-mob-01-1x.jpg 1x,
              /src/images/photo-mob/restaurant-interior-mob-01-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="/src/images/photo-mob/restaurant-interior-mob-01-1x.jpg"
            alt="Інткр'єр ресторану"
            width="244"
            height="322"
          />
        </picture>
      </li>
      <li class="about-restaurant__item-bottom">
        <picture class="about-restaurant_bottom-card">
          <source
            width="460"
            srcset="
              /src/images/photo-desk/restaurant-interior-02-1x.jpg 1x,
              /src/images/photo-desk/restaurant-interior-02-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            width="400"
            srcset="
              /src/images/photo-tab/restaurant-interior-02-tab-1x.jpg 1x,
              /src/images/photo-tab/restaurant-interior-02-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/photo-mob/restaurant-interior-mob-02-1x.jpg 1x,
              /src/images/photo-mob/restaurant-interior-mob-02-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="/src/images/photo-mob/restaurant-interior-mob-02-1x.jpg"
            alt="Столи під лампами"
            width="200"
            height="278"
          />
        </picture>
        <p class="about-restaurant__text-bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div class="slider-pos">
      <div class="double-slider double-slider--mirror">
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-desk/hotel-registration-1x.jpg 1x,
                ./images/photo-desk/hotel-registration-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-tab/hotel-registration-tab-1x.jpg 1x,
                ./images/photo-tab/hotel-registration-tab-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-mob/hotel-registration-mob-1x.jpg 1x,
                ./images/photo-mob/hotel-registration-mob-2x.jpg 2x
              " />
            <img
              src="./images/photo-mob/hotel-registration-mob-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-desk/white-towel-1x.jpg 1x,
                ./images/photo-desk/white-towel-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-tab/white-towel-tab-1x.jpg 1x,
                ./images/photo-tab/white-towel-tab-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-desk/white-towel-1x.jpg 1x,
                ./images/photo-desk/white-towel-2x.jpg 2x
              " />
            <img
              src="./images/photo-desk/white-towel-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-04-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-04-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-04-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-04-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-04-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-04-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-04-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-06-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-06-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-06-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-06-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-06-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-06-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-06-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-08-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-08-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-08-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-08-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-08-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-08-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-08-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-09-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-09-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-09-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-09-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-09-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-09-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-09-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-11-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-11-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-11-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-11-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-11-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-11-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-11-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-12-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-12-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-12-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-12-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-12-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-12-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-12-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-13-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-13-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-13-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-13-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-13-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-13-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-13-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-14-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-14-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-14-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-14-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-14-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-14-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-14-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-15-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-15-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-15-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-15-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-15-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-15-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-15-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
