.hero--room {
  background-image: linear-gradient(
      to bottom,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/photo-mob/main-room-double-mob-1x.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 54.17%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/photo-mob/main-room-double-mob-2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to bottom,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 54.17%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/photo-tab/main-room-double-tab-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/photo-tab/main-room-double-tab-1x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to bottom,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 54.17%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/photo-desk/main-room-double-desk-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 54.17%,
          rgba(0, 0, 0, 0) 100%
        ),
        url('../images/photo-desk/main-room-double-desk-1x.jpg');
    }
  }
}

.hero--room__title {
  margin-top: 300px;
  margin-bottom: 14px;
  font-family: $times-font;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffff;

  @media screen and (min-width: 1280px) {
    margin-top: 356px;
  }
}

.hero--room__text {
  margin-bottom: 30px;
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #ffffff;

  @media screen and (min-width: 1024px) {
    width: 320px;
  }
}

.hero--room__about {
  width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: 1024px) {
    width: 507px;
    align-items: normal;
  }
}

@media screen and (min-width: 1024px) {
  .hero-homepage__button--room {
    position: absolute;
    right: 77px;
    bottom: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__address--room {
    display: none;
  }
}
