<section class="hero hero--room section">
  <div class="container">
  <h1>ДВОМІСНИЙ НОМЕР люкс</h1>
  <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  <button class="hero-homepage__button" type="button">Переглянути ціни</button>
    </div>
  </div>
  <div class="hero__address">
    <a
      class="hero__address-link link"
      href="https://goo.gl/maps/gZs9ZuTmBBpEPEQE7"
      norefferer
      noopener
    >
      Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
    >
  </div>
</section>

