<section class="hero hero--room section">
  <div class="container">
  <div class="hero--room__about">
    <h1 class="hero--room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="hero--room__text">Amet minim mollit non deserunt ullamco est sit aliqua 
      dolor do amet sint. Velit officia consequat duis enim velit mollit. 
      Exercitation veniam consequat sunt nostrud amet.</p>
      <button 
      class="hero-homepage__button hero-homepage__button--room js-open-modal" 
      type="button"
      data-modal="3"
      >Переглянути ціни</button>
  </div>
    </div>
      <div class="hero__address hero__address--room ">
    <a
      class="hero__address-link link"
      href="https://goo.gl/maps/gZs9ZuTmBBpEPEQE7"
      norefferer
      noopener
    >
          <svg class="hero__address-item" width="20" height="20">
      <use href="./images/icons/symbol-defs.svg#icon-location-icon" ></use>
    </svg>
      Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
    >
  </div>
  </div>
</section>

