<section class="hero hero--room section">
  <ul class="single.slider hero-slider">
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/room-hero/mobile-room-hero.jpg    1x,
              ./images/room-hero/mobile-room-hero@2x.jpg 2x
            "
            media="(max-width: 413px)"
          />
          <source
            srcset="
              ./images/photo-slider-room-desk/desktop-room-hero.jpg    1x,
              ./images/photo-slider-room-desk/desktop-room-hero@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-hero/tab-room-hero.jpg    1x,
              ./images/room-hero/tab-room-hero@2x.jpg 2x
            "
            media="(min-width: 414px)"
          />

          <img
            src="./images/room-hero/second/second-room-mobile.jpg"
            alt="Sandwich"
          />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/room-hero/gal1-1mob.jpg    1x,
              ./images/room-hero/gal1-1mob@2x.jpg 2x
            "
            media="(max-width: 413px)"
          />
          <source
            srcset="
              ./images/room-hero/gal1-1des.jpg    1x,
              ./images/room-hero/gal1-1des@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-hero/gal1-1tab.jpg    1x,
              ./images/room-hero/gal1-1tab@2x.jpg 2x
            "
            media="(min-width: 414px)"
          />

          <img src="./images/room-hero/gal1-1mob.jpg" alt="Sandwich" />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/room-hero/gal1-2mob.jpg    1x,
              ./images/room-hero/gal1-2mob@2x.jpg 2x
            "
            media="(max-width: 413px)"
          />
          <source
            srcset="
              ./images/room-hero/gal1-2des.jpg    1x,
              ./images/room-hero/gal1-2des@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-hero/gal1-2tab.jpg    1x,
              ./images/room-hero/gal1-2tab@2x.jpg 2x
            "
            media="(min-width: 414px)"
          />

          <img src="./images/room-hero/gal1-2mob.jpg" alt="Sandwich" />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/room-hero/gal1-3mob.jpg    1x,
              ./images/room-hero/gal1-3mob@2x.jpg 2x
            "
            media="(max-width: 413px)"
          />
          <source
            srcset="
              ./images/room-hero/gal1-3des.jpg    1x,
              ./images/room-hero/gal1-3des@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-hero/gal1-3tab.jpg    1x,
              ./images/room-hero/gal1-3tab@2x.jpg 2x
            "
            media="(min-width: 414px)"
          />

          <img src="./images/room-hero/gal1-3mob.jpg" alt="Sandwich" />
        </picture>
      </li>
    </ul>

    <div class="gradient-container" style="position: relative">
      <div class="container second-container">
        <h1 class="room-hero__title">
          <span class="room-hero__title--big">Двомісний номер</span> люкс
        </h1>

        <p lang="en" class="room-hero__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>

        <a
          href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="room-hero__adress-link"
        >
          <svg width="24px" height="24px" class="room-hero__link">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <p class="room-hero__link-text">
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15
          </p></a
        >
        <ul class="room-hero__adress-social">
          <li class="room-hero__list">
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="room-hero__social-link"
            >
              <svg width="22px" height="22px" class="room-hero__link">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="room-hero__list">
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="room-hero__social-link"
            >
              <svg width="22px" height="22px" class="room-hero__link">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="room-hero__list">
            <a
              href="https://web.telegram.org/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="room-hero__social-link"
            >
              <svg width="22px" height="22px" class="room-hero__link">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
  <div class="container container--room">
    <div class="hero--room__about">
      <h1 class="hero--room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero--room__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <button
        class="hero-homepage__button hero-homepage__button--room js-open-modal"
        type="button"
        data-modal="3"
      >
        Переглянути ціни
      </button>
    </div>

    <div class="hero__address hero__address--room">
      <a
        class="hero__address-link link"
        href="https://goo.gl/maps/gZs9ZuTmBBpEPEQE7"
        rel="noreferrer noopener nofollow"
      >
        <svg class="hero__address-item" width="20" height="20">
          <use href="./images/icons/symbol-defs.svg#icon-location-icon"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15</a
      >
    </div>
  </div>
</section>
