.hero--hotel {
  background-image: linear-gradient(
      to bottom,
      $hero-background,
      $hero-background
    ),
    url('../images/photo-mob/main-room-double-mob-1x.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        $hero-background,
        $hero-background
      ),
      url('../images/photo-mob/main-room-double-mob-2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to bottom,
        $hero-background,
        $hero-background
      ),
      url('../images/photo-tab/main-room-double-tab-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          $hero-background,
          $hero-background
        ),
        url('../images/photo-tab/main-room-double-tab-2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to bottom,
        $hero-background,
        $hero-background
      ),
      url('../images/photo-desk/main-room-double-desk-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          $hero-background,
          $hero-background
        ),
        url('../images/photo-desk/main-room-double-desk-2x.jpg');
    }
  }
}

