<section class="hero hero--rest section">
  <div class="container">
    <h1 class="hero__title">mimiho</h1>
    <h2 class="hero__pre-title">Ресторан</h2>
    <p class="hero__text">СМАК ЖИТТЯ 24/7</p>
    <div class="hero__button hero__button--rest">
          <button class="hero-homepage__button js-open-modal" type="button" data-modal="1">Забронювати столик</button>
        <a href="#menu"><button class="hero-homepage__button" type="button">Переглянути меню</button></a>
    </div>
      <div class="hero__address hero__address--rest">
    <a
      class="hero__address-link link"
      href="https://goo.gl/maps/gZs9ZuTmBBpEPEQE7"
      rel="noreferrer noopener nofollow"
    >
          <svg class="hero__address-item" width="20" height="20">
      <use href="./images/icons/symbol-defs.svg#icon-location-icon" ></use>
    </svg>
      Україна, м. Полтава, <br/> вул. Маршала Бірюзова, 15</a
    >
  </div>
  </div>
</section>
