<section class="hero hero--rest section">
  <div class="container">
    <h1 class="hero__title">MIMINO</h1>
    <h2 class="hero__pre-title">Ресторанно-готельний комплекс</h2>
    <p class="hero__text">СМАК ЖИТТЯ 24/7</p>
    <div class="button">
      <ul class="button__list list">
        <li class="button__item">
          <button class="hero-homepage__button" type="button">Забронювати столик</button>
        </li>
        <li class="button__item">
<button class="hero-homepage__button" type="button">Переглянути меню</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="hero__address">
    <a
      class="hero__address-link link"
      href="https://goo.gl/maps/gZs9ZuTmBBpEPEQE7"
      norefferer
      noopener
    >
      Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
    >
  </div>
</section>
