<section>
  <div class="container">
    <h2 class="visually-hidden">About out kitchen</h2>
    <div class="about-kitchen__wrap">
      <p class="about-kitchen__pretitle">Amet minim mollit non</p>
      <h3 class="about-kitchen_title">MIMIHO</h3>
      <p class="about-kitchen__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture
      >]
      <source
        srcset="/src/images/photo-desk/restaurant-interior 1x (1).jpg 1x, /src/images/photo-desk/restaurant-interior 2x (2).jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="/src/images/photo-tab/restaurant-interior-tab-1x (2).jpg 1x, /src/images/photo-tab/restaurant-interior-tab-2x (1).jpg 2x"
        media="(min-width: 1024px)"
      />
      <source
        srcset="/src/images/photo-mob/restaurant-interior-mob-1x (4).jpg 1x, /src/images/photo-mob/restaurant-interior-mob-2x (5).jpg 2x"
        media="(min-width: 414px)"
      />
      <img
        src="/src/images/photo-mob/restaurant-interior-mob-1x (4).jpg"
        alt="Інткр'єр ресторану"
        width="244"
        height="322"
      />
    </picture>
    <div class="about-kitchen__card">
      <picture></picture>
      <img
        src="/src/images/photo-mob/pexels-oruri-jacome-mob-1x (7).jpg"
        alt=""
        width="200"
        height="278"
      />
      <p class="about-kitchen__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
