<section>
  <div class="container">
    <h2 class="visually-hidden">About kitchen</h2>
    <p class="about-kitchen__pre-title">Amet minim mollit non</p>
    <h3 class="about-kitchen__title">MIMIHO</h3>
    <ul class="about-kitchen__list">
      <li class="about-kitchen__item">
        <p class="about-kitchen__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="about-kitchen_top-card">
          <source
            width="460"
            srcset="
              /src/images/photo-desk/restaurant-interior-1x.jpg 1x,
              /src/images/photo-desk/restaurant-interior-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            width="400"
            srcset="
              /src/images/photo-tab/restaurant-interior-tab-1x.jpg 1x,
              /src/images/photo-tab/restaurant-interior-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/photo-mob/restaurant-interior-mob-1x.jpg 1x,
              /src/images/photo-mob/restaurant-interior-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="/src/images/photo-mob/restaurant-interior-mob-1x.jpg"
            alt="Кухар готує"
            width="244"
            height="322"
          />
        </picture>
      </li>
      <li class="about-kitchen__item-bottom">
        <picture class="about-kitchen_bottom-card">
          <source
            width="460"
            srcset="
              /src/images/photo-desk/pexels-oruri-jacome-1x.jpg 1x,
              /src/images/photo-desk/pexels-oruri-jacome-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            width="400"
            srcset="
              /src/images/photo-tab/pexels-oruri-jacome-tab-1x.jpg 1x,
              /src/images/photo-tab/pexels-oruri-jacome-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/photo-mob/pexels-oruri-jacome-mob-1x.jpg 1x,
              /src/images/photo-mob/pexels-oruri-jacome-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="/src/images/photo-mob/pexels-oruri-jacome-mob-1x.jpg"
            alt="Шматок м'яса"
            width="200"
            height="278"
          />
        </picture>
        <p class="about-kitchen__text-bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div class="slider-pos slider-pos--mirror">
      <div class="double-slider double-slider--mirror">
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                /src/images/photo-desk/pexels-helena-lopes-1x.jpg 1x,
                /src/images/photo-desk/pexels-helena-lopes-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                /src/images/photo-tab/pexels-helena-lopes-tab-1x.jpg 1x,
                /src/images/photo-tab/pexels-helena-lopes-tab-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                /src/images/photo-mob/pexels-helena-lopes-mob-1x.jpg 1x,
                /src/images/photo-mob/pexels-helena-lopes-mob-2x.jpg 2x
              " />
            <img
              src="/src/images/photo-mob/pexels-helena-lopes-mob-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                /src/images/photo-desk/mat-brown-1x.jpg 1x,
                /src/images/photo-desk/mat-brown-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                /src/images/photo-tab/mat-brown-tab-1x.jpg 1x,
                /src/images/photo-tab/mat-brown-tab-2x.jpg 2x
              " />
            <source
              width="245"
              media="(min-width:414px)"
              srcset="
                /src/images/photo-desk/mat-brown-1x.jpg 1x,
                /src/images/photo-desk/mat-brown-2x.jpg 2x
              " />
            <img
              src="/src/images/photo-desk/mat-brown-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-04-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-04-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-04-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-04-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-04-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-04-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-04-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-06-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-06-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-06-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-06-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-06-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-06-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-06-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-08-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-08-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-08-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-08-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-08-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-08-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-08-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-09-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-09-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-09-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-09-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-09-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-09-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-09-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-11-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-11-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-11-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-11-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-11-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-11-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-11-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-12-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-12-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-12-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-12-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-12-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-12-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-12-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-13-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-13-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-13-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-13-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-13-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-13-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-13-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-14-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-14-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-14-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-14-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-14-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-14-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-14-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
        <div>
          <picture class="double-picture">
            <source
              media="(min-width:1280px)"
              srcset="
                ./images/photo-sliders-desk/slide-desk-15-1x.jpg 1x,
                ./images/photo-sliders-desk/slide-desk-15-2x.jpg 2x
              " />
            <source
              media="(min-width:1024px)"
              srcset="
                ./images/photo-sliders-tab/slide-tab-15-1x.jpg 1x,
                ./images/photo-sliders-tab/slide-tab-15-2x.jpg 2x
              " />
            <source
              media="(min-width:414px)"
              srcset="
                ./images/photo-sliders-mob/slide-mob-15-1x.jpg 1x,
                ./images/photo-sliders-mob/slide-mob-15-2x.jpg 2x
              " />
            <img
              src="./images/photo-sliders-mob/slide-mob-15-1x.jpg"
              alt="Фото для слайдера"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
