<section class="kitchen-about">
  <div class="container">
    <h2 class="visually-hidden">About kitchen</h2>
    <p class="about-kitchen__pre-title">Amet minim mollit non</p>
    <h3 class="about-kitchen__title">MIMIHO</h3>
    <ul class="about-kitchen__list">
      <li class="about-kitchen__item">
        <p class="about-kitchen__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="about-kitchen_top-card">
          <source
            width="460"
            srcset="
              /src/images/photo-desk/restaurant-interior-1x.jpg 1x,
              /src/images/photo-desk/restaurant-interior-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            width="400"
            srcset="
              /src/images/photo-tab/restaurant-interior-tab-1x.jpg 1x,
              /src/images/photo-tab/restaurant-interior-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/photo-mob/restaurant-interior-mob-1x.jpg 1x,
              /src/images/photo-mob/restaurant-interior-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="/src/images/photo-mob/restaurant-interior-mob-1x.jpg"
            alt="Кухар готує"
            width="244"
            height="322"
          />
        </picture>
      </li>
      <li class="about-kitchen__item-bottom">
        <picture class="about-kitchen_bottom-card">
          <source
            width="460"
            srcset="
              /src/images/photo-desk/pexels-oruri-jacome-1x.jpg 1x,
              /src/images/photo-desk/pexels-oruri-jacome-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            width="400"
            srcset="
              /src/images/photo-tab/pexels-oruri-jacome-tab-1x.jpg 1x,
              /src/images/photo-tab/pexels-oruri-jacome-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              /src/images/photo-mob/pexels-oruri-jacome-mob-1x.jpg 1x,
              /src/images/photo-mob/pexels-oruri-jacome-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="/src/images/photo-mob/pexels-oruri-jacome-mob-1x.jpg"
            alt="Шматок м'яса"
            width="200"
            height="278"
          />
        </picture>
        <p class="about-kitchen__text-bottom">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <div></div>
  </div>
</section>
