<section class="menu-restaurant">
    <h2 class="menu-restaurant_second-heading">МЕНЮ РЕСТОРАНУ</h2>
    <ul class="menu-restaurant_list list">
<li class="menu-restaurant_item hot-dishes">
    <h3 class="menu-restaurant_third-heading">Гарячі страви</h3>
    
    <ul>
        <li>
<h4>Борщ з телятини з квасолею </h4>
<p>Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
<p>400 г</p>
<p>240 грн</p>
</li>

<li>
    <h4>Суп сирний з куркою</h4>
<p>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
    <p>400 г</p>
    <p>200 грн</p>
    </li>

    <li>
        <h4>Паста карбонара</h4>
<p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
        <p>350 г</p>
        <p>430 грн</p>
        </li>

        <li>
            <h4>Стейк зі свинини</h4>
<p>Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
            <p>400 г</p>
            <p>500 грн</p>
            </li>

            <li>
                <h4>Горбуша в соусі з білого вина</h4>
<p>Ніжна горбуша, вершковий соус на основі білого вина</p>
                <p>400 г</p>
                <p>400 грн</p>
                </li>
</ul>
</li>

<li class="menu-restaurant_item">
    <h3>Гарніри та закуски</h3>

    <ul>
        <li>
            <h4>Запечені овочі</h4>
<p>Кабачок, перець, помідор, баклажан</p>
            <p>200 г</p>
            <p>230 грн</p>
            </li>

            <li>
                <h4>Картопля фрі</h4>
    <p>Картопля, соус томатний</p>
                <p>150 г</p>
                <p>160 грн</p>
                </li>

                <li>
                    <h4>Картопля по-селянськи</h4>
        <p>Картопля, спеції, соус пікантний</p>
                    <p>150 г</p>
                    <p>160 грн</p>
                    </li>

                    <li>
                        <h4>Хрумкі соління з бочки</h4>
            <p>Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
                        <p>250 г</p>
                        <p>350 грн</p>
                        </li>

                        <li>
                            <h4>Крильця курячі в медовому соусі</h4>
                <p>Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
                            <p>400 г</p>
                            <p>420 грн</p>
                            </li>


    </ul>
    
</li>

<li class="menu-restaurant_item">
    <h3>Салати</h3>

    <ul>
    <li>
        <h4>Цезар з куркою</h4>
<p>Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
        <p>230 г</p>
        <p>450 грн</p>
        </li>
    
        <li>
            <h4>Цезар з креветками</h4>
<p>Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
            <p>230 г</p>
            <p>300 грн</p>
            </li>

            <li>
                <h4>Грецький салат</h4>
<p>Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
                <p>230 г</p>
                <p>280 грн</p>
                </li>

                <li>
                    <h4>М’ясний салат</h4>
<p>Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
                    <p>230 г</p>
                    <p>300 грн</p>
                    </li>

    </ul> 
</li>

<li class="menu-restaurant_item">
<h3>Десерти </h3>

<ul>
        
    <li>
        <h4>Торт наполеон</h4>
        <p>230 г</p>
        <p>300 грн</p>
        </li>

        <li>
            <h4>Торт маковий</h4>
            <p>230 г</p>
            <p>300 грн</p>
            </li>

            <li>
                <h4>Тірамісу</h4>
                <p>120 г</p>
                <p>260 грн</p>
                </li>
</ul>

</li>

<li class="menu-restaurant_item">
    <h3>Напої</h3>
<ul>

    <li>
        <h4>Чай чорний/зелений</h4>
        <p>500 мл</p>
        <p>100 грн</p>
        </li>

        <li>
            <h4>Еспресо</h4>
            <p>30 мл</p>
            <p>100 грн</p>
            </li>

            <li>
                <h4>Американо</h4>
                <p>150 мл</p>
                <p>100 грн</p>
                </li>

                <li>
                    <h4>Капучино</h4>
                    <p>200 мл</p>
                    <p>160 грн</p>
                    </li>

                    <li>
                        <h4>Лате</h4>
                        <p>200 мл</p>
                        <p>160 грн</p>
                        </li>

</ul>
    
</li>

    </ul>

    <button class="button">Забронювати столик</button>
</section>