<section class="menu-restaurant">
   <div class="container ">
    <h2 class="menu-restaurant_second-heading">МЕНЮ РЕСТОРАНУ</h2>
    <ul class="menu-restaurant_list list">
        <li class="menu-restaurant_item hot-dishes">
            <table class="menu-restaurant_tablet tablet">
    
                <caption class="menu-restaurant_caption">
                    Гарячі страви
                </caption>
    
                <tr>
                    <th class="hot-dishes_dish dish">Борщ з телятини з квасолею</th>
                </tr>
                <tr class="dish_description">
    
                    <td class="ingridients dish_description">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
                    <td class="weight dish_description">400 г</td>
                    <td class="price dish_description">240 грн</td>
                </tr>
    
    
                <tr>
                    <th class="hot-dishes_dish dish">Суп сирний з куркою</th>
                </tr>
    
                <tr>
                    <td class="ingridients dish_description">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
                    <td class="weight dish_description">400 г</td>
                    <td class="price dish_description">200 грн</td>
                </tr>
    
    
                <tr>
                    <th class="hot-dishes_dish dish">Паста карбонара</th>
                </tr>
    
                <tr>
                    <td class="ingridients dish_description">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
                    <td class="weight dish_description">350 г</td>
                    <td class="price dish_description">430 грн</td>
                </tr>
    
    
                <tr>
                    <th class="hot-dishes_dish dish">Стейк зі свинини</th>
                </tr>
                <tr class="dish_description">
                    <td class="ingridients dish_description">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
                    <td class="weight dish_description">400 г</td>
                    <td class="price dish_description">500 грн</td>
                </tr>
    
    
                <tr>
                    <th class="hot-dishes_dish dish">Горбуша в соусі з білого вина</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Ніжна горбуша, вершковий соус на основі білого вина</td>
                    <td class="weight dish_description">400 г</td>
                    <td class="price dish_description">400 грн</td>
                </tr>
    
    
            </table>
        </li>
    
        <li class="menu-restaurant_item garniers">
            <table>
    
                <caption class="menu-restaurant_caption">
                    Гарніри та закуски
                </caption>
    
                <tr>
                    <th class="dish">Запечені овочі</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Кабачок, перець, помідор, баклажан</td>
                    <td class="weight dish_description">200 г</td>
                    <td class="price dish_description">230 грн</td>
                </tr>
    
    
                <tr>
                    <th class="dish">Картопля фрі</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Картопля, соус томатний</td>
                    <td class="weight dish_description">150 г</td>
                    <td class="price dish_description">160 грн</td>
                </tr>
    
    
                <tr>
                    <th class="dish">Картопля по-селянськи</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Картопля, спеції, соус пікантний</td>
                    <td class="weight dish_description">150 г</td>
                    <td class="price dish_description">160 грн</td>
                </tr>
    
    
                <tr>
                    <th class="dish">Хрумкі соління з бочки</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
                    <td class="weight dish_description">250 г</td>
                    <td class="price dish_description">350 грн</td>
                </tr>
    
    
                <tr>
                    <th class="dish">Крильця курячі в медовому соусі</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
                    <td class="weight dish_description">400 г</td>
                    <td class="price dish_description">420 грн</td>
                </tr>
    
    
            </table>
        </li>
    
        <li class="menu-restaurant_item salads">
            <table>
    
                <caption class="menu-restaurant_caption">Салати</caption>
    
                <tr>
                    <th class="dish">Цезар з куркою</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                    <td class="weight dish_description">230 г</td>
                    <td class="price dish_description">450 грн</td>
                </tr>
    
                <tr>
                    <th class="dish">Цезар з креветками</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                    <td class="weight dish_description">230 г</td>
                    <td class="price dish_description">300 грн</td>
                </tr>
    
    
                <tr>
                    <th class="dish">Грецький салат</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
                    <td class="weight dish_description">230 г</td>
                    <td class="price dish_description">280 грн</td>
                </tr>
    
    
                <tr>
                    <th class="dish">М’ясний салат</th>
                </tr>
                <tr>
                    <td class="ingridients dish_description">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
                    <td class="weight dish_description">230 г</td>
                    <td class="price dish_description">300 грн</td>
                </tr>
            </table>
        </li>
    
        <div>
        <li class="menu-restaurant_item deserts">
            <table>
    
                <caption class="menu-restaurant_caption">Десерти</caption>
    
                <tbody>
    
                    <tr>
                        <th class="dish desert">Торт наполеон</th>
                        <td class="weight dish_description">230 г</td>
                        <td class="price dish_description">300 грн</td>
                    </tr>
    
                    <tr>
                        <th class="dish desert">Торт маковий</th>
                        <td class="weight dish_description">230 г</td>
                        <td class="price dish_description">300 грн</td>
                    </tr>
    
                    <tr>
                        <th class="dish desert">Тірамісу</th>
                        <td class="weight dish_description">120 г</td>
                        <td class="price dish_description">260 грн</td>
                    </tr>
    
                </tbody>
            </table>
        </li>
    
    
        <li class="menu-restaurant_item drinks">
            <table>
    
                <caption class="menu-restaurant_caption">Напої</caption>
    
                <tbody>
    
                    <tr>
                        <th class="dish drink">Чай чорний/зелений</th>
                        <td class="weight dish_description">500 мл</td>
                        <td class="price dish_description">100 грн</td>
                    </tr>
    
                    <tr>
                        <th class="dish drink">Еспресо</th>
                        <td class="weight dish_description">30 мл</td>
                        <td class="price dish_description">100 грн</td>
                    </tr>
    
                    <tr>
                        <th class="dish drink">Американо</th>
                        <td class="weight dish_description">150 мл</td>
                        <td class="price dish_description">100 грн</td>
                    </tr>
    
                    <tr>
                        <th class="dish drink">Капучино</th>
                        <td class="weight dish_description">200 мл</td>
                        <td class="price dish_description">160 грн</td>
                    </tr>
                    <tr>
                        <th class="dish drink">Лате</th>
                        <td class="weight dish_description">200 мл</td>
                        <td class="price dish_description">160 грн</td>
                    </tr>
    
                </tbody>
            </table>
        </li>
        </div>
    </ul>
    
    
    <button class="button hero-mainpage__button menu_button" type="button" data-modal="1">Забронювати столик</button>




   </div>
</section>