<section class="menu-restaurant">
    <h2 class="menu-restaurant_second-heading">МЕНЮ РЕСТОРАНУ</h2>
    <ul class="menu-restaurant_list list">
<li class="menu-restaurant_item hot-dishes">
    <table>

        <caption>
            Гарячі страви
        </caption>

    <tr>
        <th>Борщ з телятини з квасолею</th>
    </tr>
    <tr>
        
<td>Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
<td>400 г</td>
<td>240 грн</td>
    </tr>


    <tr>
        <th>Суп сирний з куркою</th>
    </tr>

    <tr>
<td>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
        <td>400 г</td>
        <td>200 грн</td>
    </tr>


    <tr>
        <th>Паста карбонара</th>
    </tr>

    <tr>
        <td>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
        <td>350 г</td>
        <td>430 грн</td>
    </tr>


    <tr>
        <th>Стейк зі свинини</th>
    </tr>
    <tr>
        <td>Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
        <td>400 г</td>
        <td>500 грн</td>
    </tr>


<tr>
    <th>Горбуша в соусі з білого вина</th>
</tr>
    <tr>
        <td>Ніжна горбуша, вершковий соус на основі білого вина</td>
        <td>400 г</td>
        <td>400 грн</td>
    </tr>


    </table>
    </li>

    <li class="menu-restaurant_item garniers">
        <table>
    
            <caption>
                Гарніри та закуски
            </caption>
    
                <tr>
                    <th>Запечені овочі</th>
                </tr>
                <tr>
    <td>Кабачок, перець, помідор, баклажан</td>
                    <td>200 г</td>
                    <td>230 грн</td>
                </tr>

    
                <tr>
                    <th>Картопля фрі</th>
                </tr>
                <tr>
<td>Картопля, соус томатний</td>
                    <td>150 г</td>
                    <td>160 грн</td>
                </tr>

    
                <tr>
                    <th>Картопля по-селянськи</th>
                </tr>
                <tr>
<td>Картопля, спеції, соус пікантний</td>
                    <td>150 г</td>
                    <td>160 грн</td>
                </tr>
    
    
                <tr>
                    <th>Хрумкі соління з бочки</th>
                </tr>
                <tr>
<td>Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
                    <td>250 г</td>
                    <td>350 грн</td>
                </tr>


    <tr>
        <th>Крильця курячі в медовому соусі</th>
    </tr>
                <tr>
<td>Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
                    <td>400 г</td>
                    <td>420 грн</td>
                </tr>

    
        </table>
    </li>

    <li class="menu-restaurant_item salads">
        <table>
    
            <caption>Салати</caption>
    
    <tr>
        <th>Цезар з куркою</th>
    </tr>
                <tr>
                    <td>Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                    <td>230 г</td>
                    <td>450 грн</td>
                </tr>
    
    <tr>
        <th>Цезар з креветками</th>
    </tr>
                <tr>
                    <td>Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                    <td>230 г</td>
                    <td>300 грн</td>
                </tr>
    

    <tr>
        <th>Грецький салат</th>
    </tr>
                <tr>
                    <td>Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
                    <td>230 г</td>
                    <td>280 грн</td>
                </tr>
    

    <tr>
        <th>М’ясний салат</th>
    </tr>
                <tr>
<td>Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
                    <td>230 г</td>
                    <td>300 грн</td>
                </tr>
        </table>
    </li>

    <li class="menu-restaurant_item deserts">
        <table>
    
            <caption>Десерти</caption>
    
            <tbody>
    
                <tr>
<th>Торт наполеон</th>
                    <td>230 г</td>
                    <td>300 грн</td>
                </tr>
    
                <tr>
<th>Торт маковий</th>
                    <td>230 г</td>
                    <td>300 грн</td>
                </tr>

                <tr>
                    <th>Тірамісу</th>
                    <td>120 г</td>
                    <td>260 грн</td>
                </tr>
    
            </tbody>
        </table>
    </li>
    

    <li class="menu-restaurant_item drinks">
        <table>
    
            <caption>Напої</caption>
    
            <tbody>
    
                <tr>
                    <th>Чай чорний/зелений</th>
                    <td>500 мл</td>
                    <td>100 грн</td>
                </tr>
    
                <tr>
                    <th>Еспресо</th>
                    <td>30 мл</td>
                    <td>100 грн</td>
                </tr>
    
                <tr>
                    <th>Американо</th>
                    <td>150 мл</td>
                    <td>100 грн</td>
                </tr>
    
<tr>
    <th>Капучино</th>
    <td>200 мл</td>
    <td>160 грн</td>
</tr>
<tr>
    <th>Лате</th>
    <td>200 мл</td>
    <td>160 грн</td>
</tr>

            </tbody>
        </table>
    </li>
    </ul>
     

    <button class="button">Забронювати столик</button>
</section>