.about-kitchen__pre-title {
    font-family: $times-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $pre-title-color;
    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
        font-size: 32px;
        line-height: 1.16;
        padding-top: 120px;
        margin-bottom: 4px;
    }
}

.about-kitchen__title {
    font-family: $film-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $contacts-color;
    margin-bottom: 12px;
.about-kitchen__item-bottom {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 1024px) {
        gap: 48px;
    }
}
}

.about-kitchen_bottom-card{
    border-radius: 2px;
}

.about-kitchen__text-bottom {
    width: 163px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #C79002;

    @media screen and (min-width: 1024px) {
        width: 312px;
        font-size: 16px;
    }
}

.double-picture {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}