<button class="hero-homepage__button" type="button">Забронювати столик</button>

<button class="hero-homepage__button" type="button">Забронювати номер</button>

<button class="hero-homepage__button" type="button">Переглянути меню</button>

<button class="hero-homepage__button" type="button">Переглянути ціни</button>

<button class="hero-mainpage__button" type="button">Детальніше</button>

<button class="hero-mainpage__button" type="button">Переглянути ціни</button>

<button class="hero-mainpage__button" type="button">Забронювати столик</button>

<button class="order-button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

<button class="modal__button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

<button class="modal-tel__button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

<button class="form-tel__button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
