<button class="hero-homepage__button" type="button">Забронювати столик</button>

<button class="hero-homepage__button" type="button">Забронювати номер</button>

<button class="hero-homepage__button" type="button">Переглянути меню</button>

<button class="hero-homepage__button" type="button">Переглянути ціни</button>

<button class="hero-mainpage__button" type="button">Детальніше</button>

<button class="hero-mainpage__button" type="button">Переглянути ціни</button>

<button class="hero-mainpage__button" type="button">Забронювати столик</button>

<button class="menu-order__button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

<button class="form-button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

<button class="back-button" type="button">
  Повернутися до перегляду номерів
  <!-- <svg class="back-button__svg" width="22" height="12">
    <use
      width="22"
      height="12"
      href="./images/symbol-defs.svg#icon-Vector"
    ></use>
  </svg> -->
</button>
