    <footer>
        <div class="container">
            <div class="block-logo">
        <a href="#" class="logo">mimiho</a>
        </div>
        <div class="block">
    <ul class="navigation">
    <li class="navigation__item"><a href="" class="navigation__link">Головна</a></li>
    <li class="navigation__item"><a href="" class="navigation__link">Ресторан</a></li>
    <li class="navigation__item"><a href="" class="navigation__link">Готель</a></li>
</ul>
<ul class="social">
    <li class="social__item"><a href="" class="social__link"><span class="social__name">Instagram</span><span class="social__icon"></span></a></li>
    <li class="social__item"><a href="" class="social__link"><span class="social__name">Facebook</span><span class="social__icon"></span></a></li>
    <li class="social__item"><a href="" class="social__link"><span class="social__name">Telegram</span><span class="social__icon"></span></a></li>
</ul>
</div>
</div>
    </footer>