<footer class="footer">
  <div class="container">
    <div class="block-logo">
      <a href="./index.html" class="footer-logo">mimiho</a>
    </div>
    <div class="block-navigation">
      <ul class="footer-navigation">
        <li class="footer-navigation__item">
          <a href="./index.html" class="footer-navigation__link">Головна</a>
        </li>
        <li class="footer-navigation__item">
          <a href="./restaurant.html" class="footer-navigation__link">Ресторан</a>
        </li>
        <li class="footer-navigation__item">
          <a href="./hotel.html" class="footer-navigation__link">Готель</a>
        </li>
        <!-- Ця лішка буде видалена пізніше -->
        <li class="footer-navigation__item">
          <a href="./room.html" class="footer-navigation__link">Номер(видали мене)</a>
        </li>
      </ul>
      <ul class="social">
        <li class="social__item">
          <a href="" class="social__link"
            ><span class="social__name">Instagram</span
            ><svg class="social__icon">
              <use
                href="./images/icons/symbol-defs.svg#icon-instagram"
              ></use>
            </svg>
        </li>
        <li class="social__item">
          <a href="" class="social__link"
            ><span class="social__name">Facebook</span
            ><svg class="social__icon">
              <use
                href="./images/icons/symbol-defs.svg#icon-facebook"
              ></use>
            </svg>
        </li>
        <li class="social__item">
          <a href="" class="social__link"
            ><span class="social__name">Telegram</span
            ><svg class="social__icon">
              <use
                href="./images/icons/symbol-defs.svg#icon-plane-icon"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
