<header>
    <nav>
        <ul>
            <li><a href="./index.html">Homepage</a></li>
            <li><a href="./restaurant.html">Ресторан</a></li>
            <li><a href="./hotel.html">Готель</a></li>
            <li><a href="./room.html">Номер</a></li>
        </ul>
    </nav>
    <div class="header__socials">
        <ul class="socials__list list">
            <li class="socials__item"><a class="socials__link link" href="https://www.instagram.com/"><svg class="socials__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-akar-icons_instagram-fill-1"></use></svg></a></li>
            <li class="socials__item"><a class="socials__link link" href="https://www.facebook.com/"><svg class="socials__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-jam_facebook-square"></use></svg></a></li>
            <li class="socials__item"><a class="socials__link link" href="https://web.telegram.org/"><svg class="socials__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-la_telegram-plane"></use></svg></a></li>
        </ul>
    </div>
</header>