<header>
    <div class="relative__body">
        <div class="header__body container">
            <a class="header__logo link" href="./index.html">MIMIHO</a>
                <nav class="header__nav">
                    <ul class="nav__list list">
                        <li class="header__item"><a class="header__link link" href="./restaurant.html">Ресторан</a></li>
                        <li class="header__item"><svg class="header__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-phone"></use></svg><a class="header__link__phone link" href="tel:+380955559533">095 555 95 33</a></li>
                        <li class="header__item"><a class="header__link link" href="./hotel.html">Готель</a></li>
                        <li class="header__item"><svg class="header__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-phone"></use></svg><a class="header__link__phone link" href="tel:+380668491089">066 849 10 89</a><a class="header__link__phone link" href="tel:+380672758540">067 275 85 40</a></li>
                    </ul>
                </nav>
                <div class="header__socials">
                    <ul class="socials__list list">
                        <li class="socials__item"><a class="socials__link link" href="https://www.instagram.com/"><svg class="socials__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
                        <li class="socials__item"><a class="socials__link link" href="https://www.facebook.com/"><svg class="socials__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
                        <li class="socials__item"><a class="socials__link link" href="https://web.telegram.org/"><svg class="socials__icon" width="24px" height="24px"><use href="./images/icons/symbol-defs.svg#icon-plane-icon"></use></svg></a></li>
                    </ul>
                </div>
            </div>
         
        </div>
   </div>
</header>
