<section class="rooms-section">
    <div class="container">
        <div class="rooms-wrap-top">
            <div class="rooms-info">
                <p class="rooms-info__slogan">
                    Amet minim mollit non
                </p>
                <p class="rooms-info__logo">
                    Mimiho
                </p>
                <h2 class="rooms-info__title">
                    ДВОМІСНИЙ НОМЕР <span class="rooms-info__title__lowercase"> люкс </span>
                </h2>
                <p class="rooms-info__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet
                    sint.
                    Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <picture>
                <source srcset="./images/photo-desk/modern-studio-apartment-desk-1x.jpg 1x,
                                        ./images/photo-desk/modern-studio-apartment-desk-2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source srcset="./images/photo-tab/modern-studio-apartment-tab-1x.jpg 1x,
                                        ./images/photo-tab/modern-studio-apartment-tab-2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source srcset="./images/photo-mob/modern-studio-apartment-mob-1x.jpg 1x,
                                        ./images/photo-mob/modern-studio-apartment-mob-2x.jpg 2x"
                    media="(min-width: 414px)">
                <img class="rooms-wrap-top__img" src="./images/photo-desk/modern-studio-apartment-desk-1x.jpg"
                    alt="Двомісний номер люкс">
            </picture>
        </div>
        <div class="rooms-wrap-bottom">
            <div class="slider"></div>
            <div class="rooms-btn">
                <button class="hero-mainpage__button rooms-btn__item" type="button">
                    <a href="">Детальніше</a>
                </button>
                <button class="hero-mainpage__button rooms-btn__item" type="button">Переглянути
                    ціни</button>
            </div>
        </div>
    </div>
</section>

<section class="rooms-section rooms-section--reverse">
    <div class="container">
        <div class="rooms-wrap-top">
            <div class="rooms-info">
                <p class="rooms-info__slogan">
                    Amet minim mollit non
                </p>
                <p class="rooms-info__logo">
                    Mimiho
                </p>
                <h2 class="rooms-info__title">
                    ТРЬОХМІСНИЙ НОМЕР
                </h2>
                <p class="rooms-info__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet
                    sint.
                    Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <picture>
                <source srcset="./images/photo-desk/modern-studio-apartment-desk-1x.jpg 1x,
                        ./images/photo-desk/modern-studio-apartment-desk-2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./images/photo-tab/modern-studio-apartment-tab-1x.jpg 1x,
                        ./images/photo-tab/modern-studio-apartment-tab-2x.jpg 2x" media="(min-width: 1024px)">
                <source srcset="./images/photo-mob/modern-studio-apartment-mob-1x.jpg 1x,
                        ./images/photo-mob/modern-studio-apartment-mob-2x.jpg 2x" media="(min-width: 414px)">
                <img class="rooms-wrap-top__img" src="./images/photo-desk/modern-studio-apartment-desk-1x.jpg"
                    alt="Трьохмісний номер">
            </picture>
        </div>
        <div class="rooms-wrap-bottom">
            <div class="slider"></div>
            <div class="rooms-btn">
                <button class="hero-mainpage__button rooms-btn__item" type="button">
                    <a href="">Детальніше</a>
                </button>
                <button class="hero-mainpage__button rooms-btn__item" type="button">Переглянути
                    ціни</button>
            </div>
        </div>
    </div>
</section>

<section class="rooms-section">
    <div class="container">
        <div class="rooms-wrap-top">
            <div class="rooms-info">
                <p class="rooms-info__slogan">
                    Amet minim mollit non
                </p>
                <p class="rooms-info__logo">
                    Mimiho
                </p>
                <h2 class="rooms-info__title">
                    ДВОМІСНИЙ НОМЕР
                </h2>
                <p class="rooms-info__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet
                    sint.
                    Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <picture>
                <source srcset="./images/photo-desk/modern-studio-apartment-desk-1x.jpg 1x,
                                        ./images/photo-desk/modern-studio-apartment-desk-2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source srcset="./images/photo-tab/modern-studio-apartment-tab-1x.jpg 1x,
                                        ./images/photo-tab/modern-studio-apartment-tab-2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source srcset="./images/photo-mob/modern-studio-apartment-mob-1x.jpg 1x,
                                        ./images/photo-mob/modern-studio-apartment-mob-2x.jpg 2x"
                    media="(min-width: 414px)">
                <img class="rooms-wrap-top__img" src="./images/photo-desk/modern-studio-apartment-desk-1x.jpg"
                    alt="Двомісний номер">
            </picture>
        </div>
        <div class="rooms-wrap-bottom">
            <div class="slider"></div>
            <div class="rooms-btn">
                <button class="hero-mainpage__button rooms-btn__item" type="button">
                    <a href="">Детальніше</a>
                </button>
                <button class="hero-mainpage__button rooms-btn__item" type="button">Переглянути
                    ціни</button>
            </div>
        </div>
    </div>
</section>