<div class="modal" data-modal="3">
  <button type="button" class="close-button js-modal-close">
    <svg width="24" height="24" class="modal__cross">
      <use href="./images/icons/symbol-defs.svg#icon-close-button"></use>
    </svg>
  </button>

  <form class="form" action="#">
    <h2 class="form__title">Забронювати столик</h2>
    <div class="form__field">
      <input
        class="form__input"
        type="text"
        id="client-name"
        placeholder="Ваше ім’я"
        title="Вкажіть своє ім'я"
        pattern="([a-zA-Zа-яА-Я]+)"
        required
      />
      <label class="form__label" for="client-name"
        >На кого забронювати столик?</label
      >

      <input
        class="form__input"
        type="tel"
        id="client-tel"
        placeholder="+38 (___) ___-__-__"
        title="Номер телефону повинен бути в форматі '+380xxxxxxxxx'"
        pattern="([+][0-9\+]{12})"
        required
      />
      <label class="form__label" for="client-tel">Номер телефону</label>
    </div>

    <div class="form__field">
      <div class="select-wrap">
        <select class="form__select" name="people" id="people">
          <option value="1" selected>2</option>
          <option value="2">3</option>
          <option value="3">4</option>
          <option value="4">5</option>
          <option value="5">6</option>
        </select>
      </div>
      <label class="form__label" for="people"
        >Столик на яку кількість осіб?</label
      >

      <div class="select-wrap">
        <select
          class="form__select"
          name="reservation-date"
          id="reservation-date"
        >
          <option value="1" selected>Сьогодні</option>
          <option value="2">Завтра</option>
          <option value="3">Післязавтра</option>
        </select>
      </div>
      <label class="form__label" for="reservation-date"
        >На яку дату бронювати?</label
      >
    </div>
    <button class="form-btn" type="submit">Оформити бронювання</button>
  </form>
</div>

<div class="overlay js-overlay-modal"></div>
